In [1]:
import pandas as pd

In [2]:
filename = "yelp_academic_dataset_business" + ".csv"
path = "C:/Users/tokud/OneDrive/Documents/Machine Learning - UCSD Extension Springboard Course/Capstone/Datasets/" + filename

chunk_iterator = pd.read_csv(path, chunksize=10000)

chunks = []

for chunk in chunk_iterator:
  chunks.append(chunk)

business_df = pd.concat(chunks, ignore_index=True)
business_df.shape

(150346, 14)

In [21]:
df_florida = business_df[business_df['state'] == 'FL']
df_florida.shape

(26330, 14)

In [22]:
fl_restaurants = df_florida[df_florida['categories'].str.contains('restaurants', case=False, na=False)]
fl_restaurants.shape

(8731, 14)

In [6]:
filename = "US_Cities" + ".txt"
path = "C:/Users/tokud/OneDrive/Documents/Machine Learning - UCSD Extension Springboard Course/Capstone/Datasets/" + filename

column_names = [
    "country_code", "zip_code", "city", "state", "state_abbreviation", 
    "county", "county_code", "admin2", "admin3", "latitude", "longitude", "accuracy"
]

df = pd.read_csv(path, sep="\t", header=None, names=column_names)
df.shape

(41484, 12)

In [19]:
florida_df = df[df['state_abbreviation'] == 'FL']
fl_subset = florida_df[['zip_code', 'city']]
fl_subset.shape

(1473, 2)

In [25]:
fl_restaurants.isnull().sum()

business_id       0
name              0
address          96
city              0
state             0
postal_code       4
latitude          0
longitude         0
stars             0
review_count      0
is_open           0
attributes      100
categories        0
hours           983
dtype: int64

In [27]:
fl_restaurants['address'].fillna('Unknown', inplace=True)
fl_restaurants['attributes'].fillna('N/A', inplace=True)
fl_restaurants['hours'].fillna('N/A', inplace=True)

c:\Users\tokud\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [28]:
fl_restaurants['postal_code'] = fl_restaurants['postal_code'].fillna(0).astype(int)

C:\Users\tokud\AppData\Local\Temp/ipykernel_5912/1650653671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl_restaurants['postal_code'] = fl_restaurants['postal_code'].fillna(0).astype(int)

In [ ]:
merged_df = fl_restaurants.merge(fl_subset, how='left', left_on='postal_code', right_on='zip_code', suffixes=('_original', '_updated'))
merged_df.shape

(8731, 16)

In [31]:
merged_df.columns

Index(['business_id', 'name', 'address', 'city_original', 'state',
       'postal_code', 'latitude', 'longitude', 'stars', 'review_count',
       'is_open', 'attributes', 'categories', 'hours', 'zip_code',
       'city_updated'],
      dtype='object')

In [32]:
selected_fields = ['business_id', 'name', 'city_original', 'state', 'postal_code', \
    'stars', 'review_count', 'zip_code', 'city_updated']

merged_df[selected_fields].head()

,business_id,name,city_original,state,postal_code,stars,review_count,zip_code,city_updated
0,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,33602,4.0,10,33602.0,Tampa
1,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,Largo,FL,33771,4.5,100,33771.0,Largo
2,uI9XODGY_2_ieTE6xJ0myw,Roman Forum,Tampa,FL,33618,4.0,23,33618.0,Tampa
3,JgpnXv_0XhV3SfbfB50nxw,Joe's Pizza,Tampa,FL,33607,4.0,35,33607.0,Tampa
4,pJfh3Ct8iL58NZa8ta-a5w,Top Shelf Sports Lounge,Wesley Chapel,FL,33544,4.5,95,33544.0,Wesley Chapel

In [33]:
merged_df['city_updated'].value_counts()

Tampa                 3062
Saint Petersburg      1410
Clearwater             614
Brandon                324
Largo                  323
New Port Richey        258
Palm Harbor            211
Riverview              203
Dunedin                189
Lutz                   185
Pinellas Park          171
Spring Hill            168
Wesley Chapel          164
Tarpon Springs         155
Clearwater Beach       147
Seminole               123
Plant City             111
Port Richey            104
Hudson                  98
Oldsmar                 88
Valrico                 79
Zephyrhills             56
Safety Harbor           54
Land O Lakes            51
Indian Rocks Beach      49
Seffner                 47
Apollo Beach            42
Ruskin                  42
Odessa                  41
Holiday                 38
Lithia                  31
Sun City Center         27
Gibsonton               16
San Antonio             10
Wimauma                  7
Thonotosassa             7
Dover                    6
Palmetto                 6
Dade City                2
Ozona                    1
Balm                     1
Brooksville              1
Saint Leo                1
Name: city_updated, dtype: int64

In [34]:
merged_df.isnull().sum()

business_id      0
name             0
address          0
city_original    0
state            0
postal_code      0
latitude         0
longitude        0
stars            0
review_count     0
is_open          0
attributes       0
categories       0
hours            0
zip_code         8
city_updated     8
dtype: int64

In [39]:
missing_columns = ['business_id','name', 'address', 'postal_code', 'city_original', 'stars', 'zip_code', 'city_updated']

missing_df = merged_df[missing_columns]

missing_df[missing_df['zip_code'].isnull()]

,business_id,name,address,postal_code,city_original,stars,zip_code,city_updated
142,siwG4ZM7RjUDO52DI84m3w,Ray's Vegan Soul,Unknown,0,St. Petersburg,5.0,NaN,NaN
674,kQANkgj6vHc1xCmxfNBNjA,Enzo's Pizzeria & Pasta from New York,11653 Countryway Blvd,33588,Westchase,4.0,NaN,NaN
1891,MxSSESMG5NJCDHy_zsmNCw,Fire Monkey Food Truck,Unknown,0,Saint Petersburg,4.0,NaN,NaN
2609,QNci5FL13duF0a-nf9sGWQ,Village Inn Restaurant,2525 Gulf-To-Bay Blvd,34619,Clearwater,3.0,NaN,NaN
2948,bnsPNU4A9dmfNHWiiDXSXQ,Nabruzzi Trattoria,11653 Countryway Blvd,33588,Westchase,4.5,NaN,NaN
3489,nbm0DkmTklRAnROEAm0kuw,The Killer Samich Truck,Unknown,0,Tampa,3.0,NaN,NaN
4989,y6GtlzDbTViYhO4bA-WfsA,NYO Food Truck,Unknown,0,Tampa,3.5,NaN,NaN
6064,Jfi-hoD-hKlnu3LljlEUqA,Apna Kabab House,20323 Bruce B Downs Blvd,336140,Tampa,3.5,NaN,NaN

In [40]:
merged_df = merged_df.dropna()
merged_df.shape

(8723, 16)

In [41]:
merged_df.isnull().sum()

business_id      0
name             0
address          0
city_original    0
state            0
postal_code      0
latitude         0
longitude        0
stars            0
review_count     0
is_open          0
attributes       0
categories       0
hours            0
zip_code         0
city_updated     0
dtype: int64

In [42]:
filename = "FL_Restaurants_Business Attributes" + ".csv"
out_path = "C:/Users/tokud/OneDrive/Documents/Machine Learning - UCSD Extension Springboard Course/Capstone/Datasets/" + filename

merged_df.to_csv(out_path, index=False)